@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center my-5">
    <h1 class="mb-4">Bem-vindo à Disciplina de Programação!</h1>
    <p class="lead">Nesta disciplina, você aprenderá os fundamentos da programação web usando ASP.NET Core MVC.</p>
    <img src="/Imagens/programacao.jpg" alt="Imagem 1" class="img-fluid rounded mb-4" style="max-width: 100%;" width="800">
    <p class="mb-4">Aqui está uma imagem representativa da disciplina.</p>

    <div class="row mb-4">
        <div class="col-md-4">
            <h3>Gostaria que fosse abordado:</h3>
            <ul class="list-unstyled">
                <li>Boas práticas de programação</li>
                <li>Gerenciamento de dependências</li>
                <li>Desenvolvimento de aplicações web completas</li>
                <li>Integração com banco de dados</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>O que mais gosto das disciplinas de programação:</h3>
            <ul class="list-unstyled">
                <li>Desafios e resolução de problemas</li>
                <li>Criatividade envolvida no desenvolvimento de soluções</li>
                <li>Aprender novas tecnologias e frameworks</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>O que menos gosto das disciplinas de programação:</h3>
            <ul class="list-unstyled">
                <li>Problemas de compatibilidade e depuração de código</li>
                <li>Lidar com complexidade em algumas tarefas</li>
                <li>Trabalhar em projetos mal documentados ou desorganizados</li>
            </ul>
        </div>
    </div>

    <img src="/Imagens/codigo.jpeg" alt="Imagem 2" class="img-fluid rounded" style="max-width: 100%;" width="800">
    <p class="mt-4">Aqui está outra imagem representativa da disciplina.</p>
</div>
